<div class="container text-center">
  <h1>Choose a Time</h1>
  <p class="lead">Select a time below to book your appointment</p>

  <ul *ngFor="let time of times">
    <li (click)="open(content)">
      {{time.time}}
    </li>
  </ul>

  <div [hidden]="!name || !number">
    Your information: {{name}} {{number}}
  </div>

</div>

<!--Add Info Modal  -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Enter your information below to book a time</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>

  <div class="modal-body">
    <form name="form" (ngSubmit)="submitTime()" #f="ngForm">
      <div class="form-group form-horizontal mx-md-3">
        <label>Name:</label>
        <input type="text" class="form-control" placeholder="Enter your first and last name" [(ngModel)]="name" name="name">

        <label class="pt-3">Phone Number</label>
        <input type="tel" class="form-control" placeholder="Enter your phone number" [(ngModel)]="number" name="phone">

        <div class="text-center pt-3">
          <button class="btn btn-primary">Submit Time</button>
        </div>
      </div>

    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
